// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~font-awesome/scss/font-awesome.scss";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
#loader {
  display: inline-block;
  margin: 0 auto;
  .loader.invisible {
    margin-left: -1.5em;
  }
}
.link-wrapper {
  max-width: $body-max-width;
  margin: 0 auto;
  padding-bottom: 2em;
  article.dispatch-group {
    margin-bottom: 1.5em;
    h2 {
      margin-bottom: .5em;
    }
    section {
      padding: 0 0.5em 1em;
      main ul {
        line-height: 1.25em;
        li {
          margin: 0 0 1.125rem 0;
          p {
            margin-bottom: .25em;
          }
          cite {
            font-size: 1.05rem;
            padding-left: 1.5em;
            &:before {
              content: '\2192';
              margin-right: .5em;
            }
          }
        }
      }
    }
  }

}

#top-button {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  position: fixed;
  width: 3em;
  height: 3em;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  outline: none;
  border-radius: 50% !important;
}
